label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

child-comp {
    margin-top: 5px;
}
