.task-details-container {
  max-width: 300px;
  margin: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.add-to-favorites-btn {
  background-color: #4caf50;
  color: white;
}

.close-dialog-btn {
  background-color: #757575;
  color: white;
  margin-left: 8px;
}

.add-to-favorites-btn:hover, .close-dialog-btn:hover {
  background-color: #45a049;
}
